<div>
    <h1>Lista de ventas</h1>
    <button class="btn btn-primary" routerLink="vregister">Agregar venta</button>
    <br>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Folio</th>
                <th scope="col">Estatus</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Total</th>
                <th scope="col">Detalle</th>
                <th scope="col">Eliminación</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of ventas">
                <th scope="row">{{ v.folio }}</th>
                <td>Realizada</td>
                <td>{{ v.fecha }}</td>
                <td>{{ v.cliente }}</td>
                <td>{{ v.importe }}</td>
                <td><button type="button" class="btn btn-primary">Detalles</button></td>
                <td><button onclick="" type="button" class="btn btn-danger">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>
