<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-black">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-3 text-truncate">Registrar Ventas</h1>
                    <div class="px-2"><!--TODO: implementar un select item que muestre los productos y podamos ir seleccionado cad uno de ellos-->
                        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="justify-content-center" name="formul">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input id="folio" name="folio" class="form-control" placeholder="Folio" type="text" [(ngModel)]="Vfolio" >
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input id="fecha" name="fecha" class="form-control" disabled="disabled" [(ngModel)]="Vfecha">
                            </div> <!-- form-group// -->
  
                            <div>
                                <div class="form-group input-group">
                                    <span> <i class="fa fa-phone"></i></span>
                                </div>
                                <select id="cliente" name="Cliente" class="form-control" placeholder="Cliente" [(ngModel)]="Vcliente">
                                    <option value="">Selecciona el cliente</option>
                                    <option *ngFor="let cli of cliente"
                                    [value]= "cli.nombre">
                                    {{ cli.nombre }}
                                    </option>
                                </select>
                            </div>
                            <br>

                            <!--DETALLE VENTAS-->
                            <div>
                                <div class="form-group input-group">
                                    <span> <i class="fa fa-phone"></i></span>
                                </div>
                                <select id="Producto" name="Producto" class="form-control"
                                placeholder="Producto" [(ngModel)]="dlleProducto"
                                (change)="onChange()">
                                <option value="">Selecciona el producto</option>
                                    <option *ngFor="let pro of producto"
                                    [value]= "pro.clave">
                                    {{ pro.descripcion }}
                                    </option>
                                </select>
                            </div>
                            <br>
  
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input id="cantidad" name="cantidad" class="form-control" placeholder="Cantidad" type="number" [(ngModel)]="dlleCantidad">
                            </div> <!-- form-group// -->
  
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input id="descripcion" name="Descripcion" class="form-control" disabled="disabled" placeholder="Descripcion" type="text"
                                [(ngModel)]="dlleFolio">
                            </div> <!-- form-group// -->

                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input id="price" name="Importe" class="form-control" placeholder="Importe" disabled="disabled" type="height"
                                [(ngModel)]="dlleImporte">
                            </div> <!-- form-group// -->

                            <div class="form-group row justify-content-around">
                                <div class="col">
                                    <button type="button" (click)="agregarPro()" class="btn btn-primary ">Agregar al carrito</button>
                                </div>
                                <div class="col">
                                     <button type="submit" class="btn btn-primary ">Registrar Venta</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  